@model KillerApp_SE.Models.Gebruiker

@{
    ViewBag.Title = "Index";
}

<h2 style="margin-left: 495px;">Inloggen</h2>
<div id="Beschrijving">
    <center>
        <p>Log hieronder in om toegang te krijgen tot alle functies.</p>
        <p>Heb je nog geen account? Vraag een account aan bij een van de medewerkers.</p>
    </center>
</div>
@using (Html.BeginForm())
{
    <div style="margin-left: 440px; color:red"><b>@ViewBag.Message</b></div>
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="margin-left: 280px;">
        <div class="form-group">
            @Html.LabelFor(model => model.Gebruikernaam, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gebruikernaam, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Gebruikernaam, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Wachtwoord, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Wachtwoord, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Wachtwoord, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>
    </div>
}
