@model KillerApp_SE.Models.Gebruiker
@using KillerApp_SE.Models

@{
    ViewBag.Title = "GebruikerBeheren";
}

<h2 style="margin-left: 440px">Gebruikers Beheren</h2>

<p>
    @Html.ActionLink("Nieuwe gebruiker", "GebruikerToevoegen")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Geboortedatum)
        </th>
        <th></th>
    </tr>

    @foreach (var gebruiker in (List<Gebruiker>)ViewData["gebruikers"])
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => gebruiker.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => gebruiker.Adres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => gebruiker.Geboortedatum)
            </td>
            <td>
                @Html.ActionLink("Wijzig", "WijzigGegevens", new { id = gebruiker.Gebruikernaam }) |
                @Html.ActionLink("Verwijder gebruiker", "VerwijderGebruiker", new { id = gebruiker.Gebruikernaam })
            </td>
        </tr>
    }
</table>