@model KillerApp_SE.Models.Gebruiker
@using KillerApp_SE.Models

@{
    ViewBag.Title = "GebruikerBeheren";
}
@{
    Bibliotheek bib = new Bibliotheek();
}

<center>
    <h2>Gebruikers Beheren</h2>

    <center>
        <font color="Green"><b>@ViewBag.Message</b></font>
        <font color="Red"><b>@ViewBag.Warning</b></font>
    </center>

    <p style="margin-left: -1020px">
        @Html.ActionLink("Nieuwe gebruiker", "GebruikerToevoegen")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Geboortedatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>

        @foreach (var gebruiker in (List<Gebruiker>)ViewData["gebruikers"])
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => gebruiker.Naam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => gebruiker.Adres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => gebruiker.Geboortedatum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => gebruiker.Status)
                </td>
                <td>
                    @Html.ActionLink("Wijzig", "WijzigGegevens", new { id = gebruiker.Gebruikernaam }) <br />
                    @if (bib.GetStatus(gebruiker.Gebruikernaam) != "Admin")
                    {
                        @Html.ActionLink("Boekenlijst", "GetBoekenGebruiker", new { id = gebruiker.Gebruikernaam }) <br />
                    }
                    @if (Session["Gebruikernaam"].ToString() != gebruiker.Gebruikernaam)
                    {
                        @Html.ActionLink("Verwijder gebruiker", "VerwijderGebruiker", new { id = gebruiker.Gebruikernaam }, new { @style = "color: Red" }) <br />
                    }
                    @if (bib.GetMijnBoeken(gebruiker.Gebruikernaam).Count > 0)
                    {
                        @Html.ActionLink("Retour boeken", "RetourBoekenGebruiker", new { id = gebruiker.Gebruikernaam }, new { @style = "color: Green" })
                    }
                </td>
            </tr>
        }
    </table>
</center>