@model KillerApp_SE.Models.Gebruiker
@using KillerApp_SE.Models

@{
    ViewBag.Title = "GebruikerBeheren";
}

<center>
    <h2>Gebruikersbeheer</h2>

    <center>
        <font color="Green"><b>@ViewBag.Message</b></font>
        <font color="Red"><b>@ViewBag.Warning</b></font>
    </center>

    <p style="margin-left: -1020px">
        @Html.ActionLink("Nieuwe gebruiker", "GebruikerToevoegen")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Geboortedatum)
            </th>
            <th>
                @Html.DisplayName("Aantal boeken")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>

        @foreach (var gebruiker in Bibliotheek.Gebruikers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => gebruiker.Naam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => gebruiker.Adres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => gebruiker.Geboortedatum)
                </td>
                <td>
                    @Html.DisplayName(Convert.ToString(Bibliotheek.GetGebruiker(gebruiker.Gebruikernaam).Boeken.Count))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => gebruiker.Status)
                </td>
                <td>
                    <div class="btn-group">
                        <a href="#" class="btn btn-default">Opties</a>
                        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Wijzig", "WijzigGegevens", new { id = gebruiker.Gebruikernaam })</li>
                            @if (Bibliotheek.GetGebruiker(gebruiker.Gebruikernaam).Boeken.Count > 0 && Bibliotheek.GetGebruiker(gebruiker.Gebruikernaam).Status != "Admin")
                            {
                                <li>@Html.ActionLink("Boekenlijst", "MijnBoeken", "Boeken", new { id = gebruiker.Gebruikernaam }, new { controller = "Gebruikers" })</li>
                            }
                            @if (Session["Gebruikernaam"].ToString() != gebruiker.Gebruikernaam)
                            {
                                <li>@Html.ActionLink("Verwijder gebruiker", "VerwijderGebruiker", new { id = gebruiker.Gebruikernaam }, new { @style = "color: Red" })</li>
                            }
                        </ul>
                    </div>             
                </td>
            </tr>
        }
    </table>
</center>