@model KillerApp_SE.Models.Boek
@using KillerApp_SE.Models

<center><h2>@ViewBag.Title</h2></center>
<center><div style="color:green"><b>@ViewBag.Message</b></div></center>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Auteur.Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uitgever.Naam)
        </th>
        <th></th>
    </tr>

    @foreach (var boek in ViewData["Boeken"] as List<Boek>)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => boek.Titel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => boek.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => boek.Auteur.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => boek.Uitgever.Naam)
            </td>
            @if (Bibliotheek.GetGebruiker(Session["Gebruikernaam"].ToString()).Status != "Admin")
            {
                <td>
                    @Html.ActionLink("Breng terug", "RetourBoek", new { id = boek.Titel, gebruiker = ViewBag.Gebruiker }) <br />
                </td>
            }
        </tr>
    }
</table>